---
import type { DiscordUser } from '../../types/Discord';

interface Props {
  user: DiscordUser;
  roleColor?: string;
  avatarSize?: number;
  size?: `${number}rem` | `${number}px`
}

const { user, roleColor, avatarSize, size='8rem' } = Astro.props;
---
<div class="img-wrapper">
  {user.avatar? (
    <img src={`https://cdn.discordapp.com/avatars/${user.id}/${user.avatar}.png${avatarSize? `?size=${avatarSize}`:''}`} alt="Discord Avatar" />
  ):(
    <img src={`https://cdn.discordapp.com/embed/avatars/${Number(user.discriminator) % 5}.png`} alt="Discord Avatar" />
  )
  }
</div>

<style lang="scss" define:vars={{roleColor, size}}>
  .img-wrapper {
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;

    width: var(--size);
    height: var(--size);

    border: 4px solid var(--roleColor);

    img {
      width: 100%;
      height: 100%;
    }
  }
</style>